streamlit==1.36.0
opencv-python-headless==4.8.0.76
--find-links https://github.com/datamagiclab/python-wheels/releases/download/dlib-19.24.2/
dlib==19.24.2
face-recognition==1.3.0
ultralytics==8.2.35
numpy==1.26.4
pandas==2.2.2
torch
